apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ project_name }}-config
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ project_name }}
    app.kubernetes.io/instance: {{ project_name }}
    app.kubernetes.io/version: "1.0.0"
    app.kubernetes.io/component: service
    app.kubernetes.io/part-of: {{ project_name }}
    app.kubernetes.io/managed-by: argocd
data:
  log_level: "info"
  # Add additional non-sensitive configuration here
