apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ project_name }}
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ project_name }}
    app.kubernetes.io/instance: {{ project_name }}
    app.kubernetes.io/version: "1.0.0"
    app.kubernetes.io/component: service
    app.kubernetes.io/part-of: {{ project_name }}
    app.kubernetes.io/managed-by: argocd
{%- if include_keyvault %}
  annotations:
    # Azure Workload Identity annotation for Key Vault access
    # Managed identity will be federated via Crossplane Vault Claim
    azure.workload.identity/client-id: ""  # Populated by Crossplane
{%- endif %}
automountServiceAccountToken: true
