---
apiVersion: v1
kind: Service
metadata:
  name: platform-api
  namespace: platform
  labels:
    app.kubernetes.io/name: platform-api
    app.kubernetes.io/component: service
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
  selector:
    app.kubernetes.io/name: platform-api
    app.kubernetes.io/component: api
